# Ignore image files
*.nrrd
*.tif
*.tiff

# Ignore downloaded vfb data
vfb_images/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
Desktop.ini

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
